    <h2>JO Renewable Power</h2>
    <p>© 2020 Yahya Abu Khalil. All rights reserved.</p>
    <div>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
    </div>
    <!-- <div id="edamam-badge" data-color="white"></div> -->
<script src="/js/app.js"></script>