<section>
  <template>
    <div>
      <a href="#">Lefty's Wings and Grill</a>
      <div>
        <span>american</span><span class="dot">•</span>
        <span>bar</span>
      </div>
      <span>1034 SE Port St Lucie Blvd</span><br><span>Port St. Lucie, FL</span>
      <p>Family-friendly, sports-focused establishment with bar eats, dozens of big-screens, and a game room.</p>
    </div>
  </template>

  <h1 class="page-title" id="title">Jordan Renewable Energy Projects Map</h1>
  <section id="map-container">
    <div id="map"></div>

    <article id="markers">
        <ul id="side_bar">
          <li>
            <h1>Project Details</h1>
          </li>
          <hr>
          
        </ul>
    </article>
  </section>
</section>

<script>
  var allLocations = '<%- locations %>';
</script>
<script src="/js/map.js"></script>
<link rel="stylesheet" href="/styles/modules/map.css"/>